.footer {
  padding: 1rem 0;
  background: #000000;
  color: #fff;
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: bold;
    padding-top: 1rem;

    @media screen and (max-width: 780px) {
      display: block;
    }
  }

  &__left {
    @media screen and (max-width: 780px) {
      margin-bottom: 2rem;
    }
  }

  &__right {
    span {
      font-size: 0.75rem;
    }

    a {
      display: inline-block;
    }

    ul {
      display: flex;
      align-items: center;
      margin-bottom: 0.75rem;

      li {
        margin-right: 0.75rem;
      }

      a {
        text-decoration: none;
        border-bottom: none;
        transition: all ease 0.2s;
        color: #fff !important;

        &:hover {
          opacity: 0.7;
        }
        &:visited {
          color: #fff !important;
        }
      }
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 1.25rem;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
