.header {
  &-link {
    font-size: 0.75rem;
    color: #000;
    margin: 1rem 2rem;
    display: inline-block;

    @media screen and (max-width: 780px) {
      font-size: 0.6rem;
      margin: 1rem;
    }

    img {
      width: 1.5rem;

      @media screen and (max-width: 780px) {
        width: 1rem;
      }
    }
  }
}
