@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');

.navigation {
  padding: 1.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 780px) {
    padding: 1rem 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    list-style: none;
    font-size: 1.1rem;
    letter-spacing: 0;
    color: #000;
    cursor: pointer;

    a {
      color: #000;
      font-weight: bold;
      transition: all ease 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    @media screen and (max-width: 780px) {
      font-size: 1rem;
    }

    a:visited {
      color: #000;
    }

    span {
      font-size: 0.9rem;
      color: #adacac;

      @media screen and (max-width: 780px) {
        font-size: 0.75rem;
      }
    }
    &:not(:last-child) {
      margin-right: 2rem;

      @media screen and (max-width: 780px) {
        margin-right: 1rem;
      }
    }
  }

  &__logo {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.1em;

    transition: all ease 0.2s;

    &:hover {
      opacity: 0.7;
    }

    a:visited {
      color: black;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
    font-weight: bold;

    @media screen and (max-width: 780px) {
      margin-left: 0;
    }

    &-icon {
      font-size: 0.75rem;
      filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.2));
      text-align: center;
      color: #000;
      transition: all ease 0.2s;

      &:hover {
        opacity: 0.7;
      }
      @media screen and (max-width: 780px) {
        font-size: 0.6rem;
      }

      img {
        display: block;
        width: 1.4rem;
        margin: auto;
        margin-bottom: 0.2rem;
      }
    }

    .is-en {
      // filter: drop-shadow(0 0 0.3rem rgb(255, 0, 0));

      margin-left: 1.25rem;

      @media screen and (max-width: 780px) {
        margin-left: 0.75rem;
      }
    }
  }
}
