.navigation {
  padding: 2rem 2rem;

  @media screen and (max-width: 780px) {
    padding: 1.75rem 0.8rem;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__item {
    list-style: none;
    width: 1.7rem;

    @media screen and (max-width: 780px) {
      width: 1.25rem;
    }

    &:not(:last-child) {
      margin-right: 1.4rem;

      @media screen and (max-width: 780px) {
        margin-right: 1rem;
      }
    }
  }
}
