.projects {
  padding-bottom: 10rem;
  overflow: hidden;

  @media screen and (max-width: 1040px) {

    padding-bottom: 5rem;
  }

  &__para {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8rem;

    @media screen and (max-width: 780px) {
      font-size: 1.2rem;
      margin-bottom: 5rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    padding-bottom: .75rem;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      height: 2px;
      width: 50px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      background: #000;

      @media screen and (max-width: 780px) {
        width: 40px;
      }
    }

    &.is-center {
      text-align: center;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @media screen and (max-width: 780px) {
      font-size: 1.4rem;
    }

    span {
      font-size: 1rem;
    }
  }

  &__content {
  }

  &__list {
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 6rem;
      border-bottom: 1px solid #ddd;
      margin-bottom: 6rem;

      @media screen and (max-width: 780px) {
        padding-bottom: 5rem;
        margin-bottom: 5rem;
      }
    }

    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-img {
      width: 48%;

      @media screen and (max-width: 780px) {
        width: 100%;
        max-width: 30rem;
        margin: auto;
        padding: 0 1rem;
      }
    }

    &-texts {
      width: 48%;

      @media screen and (max-width: 780px) {
        width: 100%;
        margin-top: 2rem;
      }
    }

    &-title {
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      line-height: 1.6;
      padding-top: 1rem;

      @media screen and (max-width: 780px) {
        font-size: 1.2rem;
        line-height: 1.25;
      }

      span {
        font-size: 1.3rem;

        @media screen and (max-width: 780px) {
          font-size: 1rem;
        }
      }
    }

    &-text {
      color: #6c757d;
      font-size: 1.2rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 780px) {
        font-size: 0.95rem;
      }

      &.is-sm {
        font-size: 1rem;

        @media screen and (max-width: 780px) {
          font-size: 0.85rem;
        }
        overflow: hidden;

        span {
          display: inline-block;
          position: relative;
          padding-right: 1.25rem;

          &:after {
            content: '';
            width: 100rem;
            height: 1px;
            position: absolute;
            top: 50%;
            right: -100rem;
            background: #6c757d65;
          }
        }
      }
    }

    &-option {
      margin-bottom: 5rem;

      @media screen and (max-width: 780px) {
        margin-bottom: 3rem;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      li {
        width: 1.5rem;

        @media screen and (max-width: 1040px) {
          width: 1.2rem;
        }
        &:not(:last-child) {
          margin-right: 1.5rem;

          @media screen and (max-width: 780px) {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &__button {
    border: none;
    font-size: 1rem;
    font-family: inherit;
    color: #fff;
    border: 1.25px solid #000;
    background: #000;
    display: block;
    margin: auto;
    text-align: center;
    padding: 0.75rem 0;
    width: 100%;
    max-width: 15rem;

    @media screen and (max-width: 780px) {
      padding: 0.5rem 0;
      max-width: 10rem;
      font-size: 0.9rem;
    }
  }
}
