.top {
  z-index: 999;
  position: relative;

  &__card {
    width: 360px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 25px;
  cursor: pointer;
  justify-content: space-between;
  padding-bottom: 10px;

  &-header {
    display: flex;
  flex-direction: column;
  align-items: center;
  }

  &-avatar {
    width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: 10px;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  }


  &-indicator {
    width: 15px;
  height: 15px;
  background-color: #53f45a;
  position: absolute;
  bottom: 10px;
  right: 8px;
  border-radius: 50%;
  z-index: 4;
  }

  &-footer {
    margin: 0 auto;
    display: flex;
    padding: .75rem 0 0 0;
    align-items: center;
  }

  &-btn  {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 23px;
    margin: 0 20px;
  }
  }

  &-wrapper {
    position: relative;
    // padding: 5rem 0 8rem;
    padding: 8rem 0 12rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
   

    @media screen and (max-width: 780px) {
      height: 28rem;
    }

  }
 
  &__profile {
    text-align: center;
    &-name {
      font-size: 28px;
  font-weight: 500;
    }

    &-role {
      color: #6d6d6d;
      font-size: 16px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }


  &__about {
    font-size: 1.3rem;
    width: 70%;
    margin: auto;
  }

  &__indicator {
   
  }

}
