.top {
  color: #fff;

  &-wrapper {
    position: relative;
    height: 40rem;
    overflow: hidden;

    @media screen and (max-width: 780px) {
      height: 24rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% + 100px);
      height: calc(100% + 100px);
      background: url('../assets/main-visual.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(30px);
      animation-name: bg-circle;
      animation-duration: 6s;
      animation-iteration-count: infinite;

      @media screen and (max-width: 780px) {
        width: 100%;
        height: 100%;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.3);
    }
  }

  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 4rem;

  @media screen and (max-width: 780px) {
    padding: 0 1rem;
  }

  &__left {
    width: 100%;
    max-width: 900px;
    margin: auto;
    @media screen and (max-width: 780px) {
    }
  }

  &__name {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    cursor: pointer;

    @media screen and (max-width: 780px) {
      font-size: 1.4rem;
    }

    span {
      transition: all ease 0.3s;
      position: relative;
      padding-left: 0.3rem;
      display: inline-block;
    }
    &:hover {
      span {
        transform: rotate(15deg);
      }
    }
  }

  &__sub-title {
    span {
      position: relative;
      display: inline-block;
      padding-right: 2rem;
      transition: all ease 0.2s;
    }

    &:hover {
      span {
        transform: translateX(1rem);
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 780px) {
      font-size: 1.2rem;
    }

    span {
      display: inline-block;
      font-weight: bold;

      img {
        width: 2.2rem;
        display: inline-block;

        @media screen and (max-width: 1040px) {
          width: 2.4rem;
        }

        @media screen and (max-width: 780px) {
          width: 1.8rem;
        }
      }
    }
  }

  &__right {
    margin-bottom: 3rem;
  }

  &__image {
    width: 100%;
    max-width: 40rem;
    padding: 0 1rem;

    @media screen and (max-width: 780px) {
      max-width: 35rem;
    }
  }
}

@keyframes bg-circle {
  0% {
    transform: scale(2.2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(2.2);
  }
}
